<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="css/style.css">
    <!--GOOGLE FONT--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>100Devs Daily Planner</title>
</head>
<body>
    <main class="landing">
        <div class="landing">
            <h1 class="index-h1">My #100Devs Daily Planner</h1>
            <p class="index-p">"Don't go into your day like an accident" -Leon </p>
            <a href="/login">
                <button class="index-button button">
                    <span>Login</span>
                </button>
            </a>
            <a href="/signup">
                <button class="index-button button">Signup</button>
            </a>
        </div>
    </main>
</body>
</html>